:root {

    --primary: rgb(54, 48, 98);
    --secondary: rgb(249, 148, 23);
    --spacing: 4rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.neutral-theme {
    color:white;
    background-color: var(--secondary);
    --button-color: var(--primary);
    --button-hover-color:var(--secondary);

}

.primary-theme {
    color: white;
    background-color: var(--primary);
    --button-color: var(--secondary);
    --button-hover-color: var(--primary);
}

header {
    height: 100vh;
    padding: 2em;
}

h1 {

    margin-bottom: 2rem;
    font-size:clamp(20px, 4svh, 75px);
    font-weight: bold;
    line-height: 1.4em;
    width: 80vw;
    text-align:center;
    max-width: 500px;
    max-block-size:  500px;
}

.heading-highlight {
    color: var(--secondary);
}

.header-circle {
    height: min( 80svh, 800px);
    width: min(80svh, 800px);
    border-radius: 50%;
    position:absolute;
    top: 30vh;
    left:0%;
    display: flex;
    justify-content: center;
   align-items: center;
}

.image-circle {
    height: min(66vh, 700px);
    width: min(66vh, 700px);
    background-color: rgb(54, 48, 98);
    border-bottom-left-radius: 100%;
    position:absolute;
    top: 0;
    right:0px;
}

.header-img {
    max-width: min(40vh, 450px);
    margin-bottom: 1rem;
    filter: grayscale(100%);
    position: absolute;
    bottom: 20vh;
    left: 20vh;
    border-radius:30px;
}

.header-img:hover {
    filter: grayscale(0%);
    transition-duration: 0.5s;

}

.button-div {
    position: absolute;
    bottom: 10svh;
    right: 3vw;
    width: clamp(400px, 30vw, 100%);
    display: flex;
    justify-content: center;
}


.header-link {
    display: inline-block;
    width: max-content;
    padding: 1svh;
    border: 5px solid var(--button-color);
    font-weight: bold;
    font-size: clamp(20px, 3svh, 50px);
    text-decoration: none;
    color: var(--button-color);
    border-radius: 10px;
    
}

.header-link:hover {
    color: var(--button-hover-color);
    background-color: var(--button-color);
}

.about {
    padding: var(--spacing);
}

h2{
    margin-bottom: var(--spacing);
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

section {
    padding: var(--spacing) 0;
}

.about-img {

    width: clamp(100px, 80svh, 450px);
    margin-bottom: 1rem;
    filter: grayscale(100%);
    border-radius: 10px;
}

.about-img:hover {
    filter: grayscale(0%);
    transition-duration: 0.5s;

}

p {
    font-size: 1rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
}

.about-info {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing);
}

blockquote {
    margin-top: var(--spacing);
    font-size: 2rem;
    font-style:italic;
    text-align: center;
}

cite {
    display:block;
    margin-top: 1rem;
    font-size: 1rem;
    font-style: normal;
}

.button {
    display: inline-block;
    width: max-content;
    padding: 1dvh;
    border: 5px solid var(--button-color);
    font-weight: bold;
    font-size: min(2dvh, 50px);
    text-decoration: none;
    color: var(--button-color);
    border-radius: 10px;
    
}

.button:hover {
    color: var(--button-hover-color);
    background-color: var(--button-color);
}

.article-content {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    align-items: center;
}

h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.projects {
    display:flex;
    flex-direction: column;
    justify-content: center;

    
}

.article-text {
    display: flex;
    flex-direction: column;
    font-size: 2rem;;
}

.article-image {
    margin-bottom: 2rem;
    max-width: 30vw;
    height: 30svh;
    object-fit:scale-down;

}

article{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto var(--spacing);
    width: 60vw;
    border-radius: 40px;
    background-color: var(--primary);
    padding: var(--spacing);
    color:white;
}

.contact {
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 0.5em;
    text-align: center;

}

.socials{
    display:flex;
    justify-content: space-evenly;
}

.social-item {
    display: block;
    gap: 2rem;
    justify-content: space-evenly;
    margin-bottom: 0.5em;
}

.social-link {
    display: block;
    width: 60px;
    height: 60px;
    color: transparent;
    font-size: 1px;
    background-repeat: no-repeat;
    background-size: 60px;
    filter: invert(100%);
}

.li {
    background-image: url('./images/linkedin.png');
}

.gh{
    background-image: url('./images/github.png');
}



@media (max-width:1200px) and (min-height:100vw){

    header{ 
        display: flex;
        justify-content: center;
       align-items: center;
    }

    .header-circle {
        height: min(50dvh, 100vw);
        width: min(50dvh, 100vw);
        border-radius: 50%;
       left: 0 ;
        top: 38dvh;
        margin: auto;
        display: flex;
        justify-content: center;
       align-items: center;
    }

    .image-circle {
        height: min(38dvh, 100vw);
        width: min(38dvh, 100vw);
        background-color: rgb(54, 48, 98);
        border-bottom-left-radius: 100%;
        position:absolute;
        top: 0;
        right:0;
    }
    
    .header-img {
        max-width: 25dvh;
        margin-bottom: 1rem;
        filter: grayscale(100%);
        position: absolute;
        bottom: 30%;
        left: 30%;
        border-radius:30px;
    }

    

    .button-div{
        margin: 1dvh auto;
        bottom: 3dvh;
        width: 100%;
        right: 0%;
        display: flex;
        justify-content: center;
        gap: 1vw;
    }
    

    .about-info{
        flex-direction: column;
        align-items: center;
    }

    .about-img {

        width: clamp(100px, 70vw, 450px);
    }

    article{
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin: 1dvh auto;
        width: 95vw;

    }



    .article-image {
        max-width: 100%;
        object-fit: scale-down;
    }

    .article-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}








